:root {
  --rich-black-fogra-29: #010203;
  --middle-blue-green_40: hsla(174, 64%, 71%, 0.4);
  --midnight-green: hsl(186, 100%, 19%);
  --midnight-green_a25: hsla(186, 100%, 19%, 0.25);
  --independece: hsl(236, 14%, 39%);
  --verdigris: hsl(182, 100%, 35%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --ff-oswald: 'Oswald', sans-serif;
  --ff-rubik: 'Rubik', sans-serif;
  --headline-lg: 5rem;
  --headline-md: 3rem;
  --headline-sm: 2rem;
  --title-lg: 1.8rem;
  --title-md: 1.5rem;
  --title-sm: 1.4rem;
  --fw-500: 500;
  --fw-700: 700;
  --section-padding: 120px;
  --shadow-1: 0px 2px 20px hsla(209, 36%, 72%, 0.2);
  --shadow-2: 0 4px 16px hsla(0, 0%, 0%, 0.06);
  --radius-circle: 50%;
  --radius-12: 12px;
  --radius-6: 6px;
  --radius-4: 4px;
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
time,
input,
button,
ion_icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  font-family: var(--ff-rubik);
  scroll-behavior: smooth;
}

body {
  background-image: url('/assets/images/background.png');
  font-size: 1.6rem;
  color: var(--independece);
  line-height: 1.8;
  overflow: hidden;
}

.container {
  padding-inline: 16px;
}

.headline-lg {
  font-size: var(--headline-lg);
  color: var(--white);
  font-weight: var(--fw-500);
  line-height: 1.2;
}

.headline-md {
  font-size: var(--headline-md);
  font-weight: var(--fw-700);
}

.headline-lg,
.headline-md {
  font-family: var(--ff-oswald);
}

.headline-md,
.headline-sm {
  line-height: 1.3;
}

.headline-md,
.headline-sm {
  color: var(--midnight-green);
}

.headline-sm {
  font-size: var(--headline-sm);
}

.title-lg {
  font-size: var(--title-lg);
}

.title-md {
  font-size: var(--title-md);
}

.title-sm {
  font-size: var(--title-sm);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--verdigris);
  display: grid;
  place-items: center;
  z-index: 6;
  transition: var(--transition-1);
  display: none;
}

.preloader.loaded {
  visibility: hidden;
  opacity: 0;
}

.preloader .circle {
  width: 50px;
  height: 50px;
  border: 4px solid var(--white);
  border-radius: var(--radius-circle);
  border-block-start-color: transparent;
  animation: rotate360 1s ease infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler-icon {
  color: var(--white) !important;
}

.navbar-light .navbar-toggler {
  border-color: var(--white) !important;
}

.dropdown-menu {
  background-color: var(--rich-black-fogra-29);
}

.dropdown-menu .dropdown-item {
  color: var(--white) !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--midnight-green_a25) !important;
}

.hero {
  background: linear-gradient(to bottom right, #00c9ab, #0a1f47), url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 500px;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: left;
  color: var(--white);
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10px;
}

.hero-title {
  font-size: var(--headline-lg);
  font-weight: var(--fw-500);
  margin-bottom: 20px;
  text-align: left;
}

.learn-more {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  padding: 10px 20px;
  font-size: 1.6rem;
  font-weight: var(--fw-500);
  border-radius: 4px;
  display: inline-block;
  margin-top: 20px;
}

.small-image {
  position: absolute;
  top: 120px;
  right: 20px;
  z-index: 1;
}

#Description{
  margin-top: 100px;
}

.description {
  background-color: #f8f9fa; 
  padding: 80px 0; 
}

.description-content {
  display: flex;
  
  align-items: center;
  flex-wrap: wrap; 
}

.description-text {
  flex: 1; 
  max-width: 600px; 
  margin-right: 50px !important; 
}

.description-text h2 {
  font-size: 2.5rem;
  color: #333; 
}

.description-text p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 20px;
  
}

.description-image img {
  max-width: 700px; 
  height: auto;
  margin-right: -40px;
  
 
}

.learn-more {
 
  transition: background-color 0.3s ease;
}

.learn-more:hover {
  background-color: #0a1f47; 
}




